*{
				margin: 0;
				padding: 0;
			}
			.box{
				height: 50px;
				margin: 100px auto;
				text-align: center;
			}
			.box span{
				width: 210px;
				height: 18px;
				line-height: 18px;
				display: inline-block;
				border: 1px solid gray;
				background-color: #808080;
				color: #AAAAAA;
				font-size: 12px;
				text-align: left;
				padding-left: 20px;
			}
			.box span.wrong{
				background: url(images/wrong.png) no-repeat #FFDCD0 3px 2px;
				color: red;
				border: 1px solid #DDDCD0;
			}
			.box span.right{
				background: url(images/right.png) no-repeat #DFFFDF 3px 2px;
				color: green;
				border: 1px solid #AAFFDF;
			}